In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
data=pd.read_csv('dataset.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   year    43824 non-null  int64
 2   month   43824 non-null  int64
 3   day     43824 non-null  int64
 4   hour    43824 non-null  int64
 5   pm2.5   41757 non-null  float64
 6   DEWP    43824 non-null  int64
 7   TEMP    43824 non-null  float64
 8   PRES    43824 non-null  float64
 9   cbwd    43824 non-null  object
 10  Iws     43824 non-null  float64
 11  Is      43824 non-null  int64
 12  Ir      43824 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

In [2]:
data
results = []
names = []

In [3]:
data.isnull().sum()

No          0
year        0
month       0
day         0
hour        0
pm2.5    2067
DEWP        0
TEMP        0
PRES        0
cbwd        0
Iws         0
Is          0
Ir          0
dtype: int64

In [4]:
data=data.fillna(data['pm2.5'].mean())

In [5]:
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,98.613215,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,98.613215,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,98.613215,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,98.613215,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,98.613215,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.000000,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.000000,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.000000,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.000000,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.000000,-21,-3.0,1034.0,NW,249.85,0,0

In [6]:
data=data.drop(['No'],axis=1)

In [7]:
data['cbwd']=data['cbwd'].astype('category')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    43824 non-null  int64
 1   month   43824 non-null  int64
 2   day     43824 non-null  int64
 3   hour    43824 non-null  int64
 4   pm2.5   43824 non-null  float64
 5   DEWP    43824 non-null  int64
 6   TEMP    43824 non-null  float64
 7   PRES    43824 non-null  float64
 8   cbwd    43824 non-null  category
 9   Iws     43824 non-null  float64
 10  Is      43824 non-null  int64
 11  Ir      43824 non-null  int64
dtypes: category(1), float64(4), int64(7)
memory usage: 3.7 MB

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['cbwd']=le.fit_transform(data['cbwd'])
data

,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,2010,1,1,0,98.613215,-21,-11.0,1021.0,1,1.79,0,0
1,2010,1,1,1,98.613215,-21,-12.0,1020.0,1,4.92,0,0
2,2010,1,1,2,98.613215,-21,-11.0,1019.0,1,6.71,0,0
3,2010,1,1,3,98.613215,-21,-14.0,1019.0,1,9.84,0,0
4,2010,1,1,4,98.613215,-20,-12.0,1018.0,1,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2014,12,31,19,8.000000,-23,-2.0,1034.0,1,231.97,0,0
43820,2014,12,31,20,10.000000,-22,-3.0,1034.0,1,237.78,0,0
43821,2014,12,31,21,10.000000,-22,-3.0,1034.0,1,242.70,0,0
43822,2014,12,31,22,8.000000,-22,-4.0,1034.0,1,246.72,0,0
43823,2014,12,31,23,12.000000,-21,-3.0,1034.0,1,249.85,0,0

In [9]:
 from sklearn import preprocessing 
col_names=['DEWP','TEMP','PRES','Iws','Is','Ir']
from sklearn.preprocessing import StandardScaler
standardScaler=StandardScaler()
data[col_names]=standardScaler.fit_transform(data[col_names].values)
data

,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,2010,1,1,0,98.613215,-1.580878,-1.922250,0.443328,1,-0.441894,-0.069353,-0.137667
1,2010,1,1,1,98.613215,-1.580878,-2.004228,0.345943,1,-0.379306,-0.069353,-0.137667
2,2010,1,1,2,98.613215,-1.580878,-1.922250,0.248559,1,-0.343514,-0.069353,-0.137667
3,2010,1,1,3,98.613215,-1.580878,-2.168183,0.248559,1,-0.280926,-0.069353,-0.137667
4,2010,1,1,4,98.613215,-1.511594,-2.004228,0.151174,1,-0.218339,-0.069353,-0.137667
...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2014,12,31,19,8.000000,-1.719447,-1.184453,1.709325,1,4.160780,-0.069353,-0.137667
43820,2014,12,31,20,10.000000,-1.650162,-1.266431,1.709325,1,4.276956,-0.069353,-0.137667
43821,2014,12,31,21,10.000000,-1.650162,-1.266431,1.709325,1,4.375337,-0.069353,-0.137667
43822,2014,12,31,22,8.000000,-1.650162,-1.348408,1.709325,1,4.455720,-0.069353,-0.137667
43823,2014,12,31,23,12.000000,-1.580878,-1.266431,1.709325,1,4.518308,-0.069353,-0.137667

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    43824 non-null  int64
 1   month   43824 non-null  int64
 2   day     43824 non-null  int64
 3   hour    43824 non-null  int64
 4   pm2.5   43824 non-null  float64
 5   DEWP    43824 non-null  float64
 6   TEMP    43824 non-null  float64
 7   PRES    43824 non-null  float64
 8   cbwd    43824 non-null  int32
 9   Iws     43824 non-null  float64
 10  Is      43824 non-null  float64
 11  Ir      43824 non-null  float64
dtypes: float64(7), int32(1), int64(4)
memory usage: 3.8 MB

In [11]:
#Creating a labeled data
g = []

In [12]:
for i in range(41757):
    g.append(data.index.values[i])

In [13]:
data["Result"] = 0

In [14]:
data.head()

,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir,Result
0,2010,1,1,0,98.613215,-1.580878,-1.922250,0.443328,1,-0.441894,-0.069353,-0.137667,0
1,2010,1,1,1,98.613215,-1.580878,-2.004228,0.345943,1,-0.379306,-0.069353,-0.137667,0
2,2010,1,1,2,98.613215,-1.580878,-1.922250,0.248559,1,-0.343514,-0.069353,-0.137667,0
3,2010,1,1,3,98.613215,-1.580878,-2.168183,0.248559,1,-0.280926,-0.069353,-0.137667,0
4,2010,1,1,4,98.613215,-1.511594,-2.004228,0.151174,1,-0.218339,-0.069353,-0.137667,0

In [15]:
for i in range(41757):
    if data["pm2.5"][g[i]] > 115:
        data["Result"][g[i]] = 1

C:\Users\hp\AppData\Local\Temp\ipykernel_24088\3373712671.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Result"][g[i]] = 1

In [16]:
data.head()

,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir,Result
0,2010,1,1,0,98.613215,-1.580878,-1.922250,0.443328,1,-0.441894,-0.069353,-0.137667,0
1,2010,1,1,1,98.613215,-1.580878,-2.004228,0.345943,1,-0.379306,-0.069353,-0.137667,0
2,2010,1,1,2,98.613215,-1.580878,-1.922250,0.248559,1,-0.343514,-0.069353,-0.137667,0
3,2010,1,1,3,98.613215,-1.580878,-2.168183,0.248559,1,-0.280926,-0.069353,-0.137667,0
4,2010,1,1,4,98.613215,-1.511594,-2.004228,0.151174,1,-0.218339,-0.069353,-0.137667,0

In [17]:
y = data['Result']
X = data.iloc[:,[1,2,3,5,6,8,9,10,11]]
X

,month,day,hour,DEWP,TEMP,cbwd,Iws,Is,Ir
0,1,1,0,-1.580878,-1.922250,1,-0.441894,-0.069353,-0.137667
1,1,1,1,-1.580878,-2.004228,1,-0.379306,-0.069353,-0.137667
2,1,1,2,-1.580878,-1.922250,1,-0.343514,-0.069353,-0.137667
3,1,1,3,-1.580878,-2.168183,1,-0.280926,-0.069353,-0.137667
4,1,1,4,-1.511594,-2.004228,1,-0.218339,-0.069353,-0.137667
...,...,...,...,...,...,...,...,...,...
43819,12,31,19,-1.719447,-1.184453,1,4.160780,-0.069353,-0.137667
43820,12,31,20,-1.650162,-1.266431,1,4.276956,-0.069353,-0.137667
43821,12,31,21,-1.650162,-1.266431,1,4.375337,-0.069353,-0.137667
43822,12,31,22,-1.650162,-1.348408,1,4.455720,-0.069353,-0.137667
43823,12,31,23,-1.580878,-1.266431,1,4.518308,-0.069353,-0.137667

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 100)

In [19]:
print("X_train.shape:",X_train.shape)
print("y_train.shape:",y_train.shape)
print("X_test.shape:",X_test.shape)
print("y_test.shape",y_test.shape)

X_train.shape: (35059, 9)
y_train.shape: (35059,)
X_test.shape: (8765, 9)
y_test.shape (8765,)

In [20]:
#Logistic 
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(verbose=10, max_iter=100)

In [21]:
model.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.3s finished

LogisticRegression(verbose=10)

In [22]:
print("Logistic Regression" , model.score(X_test, y_test))

Logistic Regression 0.7403308613804905

In [23]:
results.append(model.score(X_test, y_test))
names.append('LR')

In [24]:
#KNN
from sklearn.neighbors import KNeighborsClassifier

In [25]:
knn = KNeighborsClassifier(n_neighbors=1000)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=1000)

In [26]:
print("KNN", knn.score(X_test, y_test))

C:\Users\hp\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

KNN 0.7122646891043924

In [27]:
results.append(knn.score(X_test, y_test))
names.append('KNN')

C:\Users\hp\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [28]:
#GNB
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [29]:
y_pred = gnb.predict(X_test)
y_pred

array([1, 1, 1, ..., 1, 0, 1], dtype=int64)

In [30]:
from sklearn.metrics import accuracy_score
print("GNB" , accuracy_score(y_test, y_pred))

GNB 0.47278950370792927

In [31]:
results.append(accuracy_score(y_test, y_pred))
names.append('GNB')

In [32]:
#Decision tree
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5)
DT.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3, min_samples_leaf=5, random_state=100)

In [33]:
y_pred = DT.predict(X_test)
print ("Decision Tree" , accuracy_score(y_test,y_pred))

Decision Tree 0.7388476896748432

In [34]:
results.append(accuracy_score(y_test, y_pred))
names.append('DT')

In [35]:
pip install keras

Requirement already satisfied: keras in c:\users\hp\anaconda3\lib\site-packages (2.11.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)

In [36]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\hp\anaconda3\lib\site-packages (2.11.0)
Requirement already satisfied: tensorflow-intel==2.11.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow) (2.11.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.31.0)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (21.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.2.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (0.4.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.2.0)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (63.4.1)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (23.3.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.51.3)
Requirement already satisfied: h5py>=2.9.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.7.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.19.6)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (4.3.0)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.2)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.6.3)
Requirement already satisfied: numpy>=1.20 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.21.5)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.4.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (15.0.6.1)
Requirement already satisfied: six>=1.12.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (2.11.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.14.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\hp\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow) (0.37.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.28.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\hp\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.16.2)
Requirement already satisfied: markdown>=2.6.8 in c:\users\hp\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\hp\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\hp\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\hp\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.11.0->tensorflow) (3.0.9)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\hp\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\hp\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\hp\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\hp\anaconda3\lib\site-packages)

In [37]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [38]:
classifier = Sequential()

In [39]:
classifier.add(Dense(units=5, activation = 'relu'))

In [40]:
classifier.add(Dense(units=5, activation = 'relu'))

In [41]:
classifier.add(Dense(units=1, activation = 'sigmoid'))

In [42]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [43]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 10)

Epoch 1/10
3506/3506 [==============================] - 6s 1ms/step - loss: 0.5394 - accuracy: 0.7179
Epoch 2/10
3506/3506 [==============================] - 5s 1ms/step - loss: 0.5043 - accuracy: 0.7354
Epoch 3/10
3506/3506 [==============================] - 5s 1ms/step - loss: 0.4997 - accuracy: 0.7401
Epoch 4/10
3506/3506 [==============================] - 5s 1ms/step - loss: 0.4960 - accuracy: 0.7415
Epoch 5/10
3506/3506 [==============================] - 5s 1ms/step - loss: 0.4936 - accuracy: 0.7415
Epoch 6/10
3506/3506 [==============================] - 5s 2ms/step - loss: 0.4915 - accuracy: 0.7447
Epoch 7/10
3506/3506 [==============================] - 5s 2ms/step - loss: 0.4896 - accuracy: 0.7448
Epoch 8/10
3506/3506 [==============================] - 5s 1ms/step - loss: 0.4894 - accuracy: 0.7440
Epoch 9/10
3506/3506 [==============================] - 5s 2ms/step - loss: 0.4883 - accuracy: 0.7441
Epoch 10/10
3506/3506 [==============================] - 5s 2ms/step - loss: 0.4879 - accuracy: 0.7451

In [44]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

274/274 [==============================] - 0s 1ms/step

In [45]:
print("ANN" , accuracy_score( y_test,y_pred))

ANN 0.7439817455790074

In [46]:
results.append(accuracy_score(y_test,y_pred))
names.append('ANN')

In [47]:
#MLP
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier()
mlp.fit(X_train,y_train)
score=mlp.score(X_test,y_test)
print("MLP" , score)

MLP 0.795094124358243

In [48]:
results.append(mlp.score(X_test,y_test))
names.append('MLP')

In [49]:
#Extra tree Regressor
from sklearn.ensemble import ExtraTreesClassifier
ET = ExtraTreesClassifier(n_estimators=300,max_depth=30, random_state=0)
ET.fit(X_train, y_train)

ExtraTreesClassifier(max_depth=30, n_estimators=300, random_state=0)

In [50]:
y_pred = ET.predict(X_test)

In [51]:
print(y_pred)

[1 0 0 ... 1 0 0]

In [52]:
print("Extra Tree Regressor" , accuracy_score(y_test,y_pred))

Extra Tree Regressor 0.8707358813462636

In [53]:
#Evaluation metrics
from sklearn.metrics import mean_squared_error
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("RMSE:", rmse)

RMSE: 0.3595331954823316

In [54]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE): {:.2f}".format(mse))

Mean Squared Error (MSE): 0.13

In [55]:
from sklearn.metrics import precision_score, recall_score, f1_score
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Precision: 0.8204891555145363
Recall: 0.7049960348929422
F1-score: 0.7583706547238218

In [56]:
results.append(accuracy_score(y_test,y_pred))
names.append('ETR')

In [57]:
print(names)
print(results)

['LR', 'KNN', 'GNB', 'DT', 'ANN', 'MLP', 'ETR']
[0.7403308613804905, 0.7122646891043924, 0.47278950370792927, 0.7388476896748432, 0.7439817455790074, 0.795094124358243, 0.8707358813462636]

In [58]:
for i in range(len(results)):
    results[i] = round(results[i], 6)

In [59]:
print(names)
print(results)

['LR', 'KNN', 'GNB', 'DT', 'ANN', 'MLP', 'ETR']
[0.740331, 0.712265, 0.47279, 0.738848, 0.743982, 0.795094, 0.870736]